.container {
  padding-top: 45px;
  padding-bottom: 65px;
}

.row {
  padding-top: 35px;
}

#heroImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding-top: 25px;
  padding-bottom: 25px;
}

#aboutRow {
  padding-bottom: 45px;
}

card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}